{% extends "base.twig" %}
{% block content %}
    {% if permission.show > 0 %}
        <h1 class="post__header">{{posts.0.title}}</h1>
        {% for post in posts %}
            <div class="post">
                <div class="post__author">
                    <div class="post__author_avatar">
                        <img src="/uploads/avatars/{{post.avatar_url}}" alt="{{post.name}}" class="user__photo_tiny" />
                    </div>
                    <div class="post__author_information">
                            <strong>{{post.name}}</strong>
                            <span>{{post.reputation}}</span>
                    </div>
                </div>
                <div class="post__content">
                    <div class="post__content_head">
                        {{post.post_date|date('d/m/Y')}}
                    </div>
                    <div class="post__content_body">
                        {{post.post}}
                    </div>
                </div>
            </div>
        {% endfor %} 
        {% if permission.create > 0 %}
        <section class="post__reply">
            <form method="post" action="/post/create/{{posts.0.question_id}}" id="postform">
                <textarea name="post" from="postform" class="float-right" required></textarea>
                <input type="submit" class="" value="Reply" required/>
            </form>
        </section>
    {% endif %}
    {% else %}
        <p>You don't have a permission</p>
    {% endif %}

{% endblock %}