{% extends "base.twig" %}
{% block content %}
    <div class="main_bar">
        <h1 class="question_header">{{posts.0.title}}</h1>
        <div id="question">
            <div class="user_info">
                <div class="user_avatar"><img src="https://lh3.googleusercontent.com/-VPkhip3osug/AAAAAAAAAAI/AAAAAAAAAHc/w2Ae1JmeUMo/photo.jpg?sz=48"></div>
                <div class="post_detail">
                    <span>{{posts.0.name}}</span>
                    <div class="post_date">
                        <span>asked {{posts.0.post_date|date('d/m/Y')}}</span>
                    </div>
                </div>
            </div>
            <div class="post">
                {{posts.0.post}}
            </div>
        </div>
        <div id="answers">
            {% for post in posts %}
                <div class="user_info">
                    <div class="user_avatar"><img src="https://lh3.googleusercontent.com/-VPkhip3osug/AAAAAAAAAAI/AAAAAAAAAHc/w2Ae1JmeUMo/photo.jpg?sz=48"></div>
                    <div class="post_detail">
                        <span>{{post.name}}</span>
                        <div class="post_date">
                            <span>asked {{post.post_date|date('d/m/Y')}}</span>
                        </div>
                    </div>
                </div>
                <div class="post">
                    {{post.post}}
                </div>             
            {% endfor %}
        </div>
        <section class="post-reply">
            <form method="post" action="/newreply.php?tid={{posts.0.qid}}" id="postform">
                <textarea name="post" from="postform" class="float-right" required></textarea>
                <input type="submit" class="" value="Reply" required/>
            </form>
        </section>
    </div>
{% endblock %}