{% extends "base.twig" %}
{% block content %}
    {% for post in posts %}
        <article id="post-{{post.id}}" class="post classic">
            <aside class="post_author col-sm-4">
            <center>
                <div class="author_avatar">
                    <img src="/uploads/avatars/avatar_1.png" />
                </div>
            </center>
                <div class="author_information">
                    <span class="largetext">
                        <a href="/user/profile/{{post.name}}">{{post.name}}</a>
                    </span>
                </div>
                <div class="author_statistics">
                    <div class="userinfo">
                        <i class="fas fa-comment"></i> Posts: 
                        <span style="color: #E1E1E1; float: right; font-weight: 800;">{{post.posts}}</span>
                    </div>
                    <div class="userinfo">
                        <i class="fas fa-comments"></i> Topics:
                        <span style="color: #E1E1E1; float: right; font-weight: 800;">{{post.topics}}</span>
                    </div>
                    <div class="userinfo">
                        <i class="fas fa-user"></i> Join date:
                        <span style="color: #E1E1E1; float: right; font-weight: 800;">{{post.join_date|date("M/Y")}}</span>
                    </div>
                </div>
            </aside>
            <section class="post_content col-sm-8">
                <div class="post_head">
                    <div style="vertical-align: top; float: right;">
                        <strong>
                            <a href="#post-{{loop.index}}">#{{loop.index}}</a>
                        </strong>
                    </div>
                    <span class="post_date">
                        {{post.date|date('d/m/Y')}}
                    </span>
                </div>
                <div class="post_body">
                    {{post.post}}
                </div>
        </article>
    {% endfor %}
    <section class="post_reply">
        <form method="post" action="/newreply.php?tid={{posts.0.topic_id}}" id="postform">
            <textarea name="post" from="postform" class="float-right"> </textarea>
            <input type="submit" class="btn btn-primary float-right" value="Reply" required/>
        </form>
        
    </section>
{% endblock %}