{% extends "base.twig" %}
{% block content %}
    <div class="content__wrapper">
        {% if permission > 0 %}
            <h1>Top Question</h1>
            <div id="question__list">
                {% for question in questions %}
                        <div class="question__row">
                            <h4 class="question__row_title">
                                <a href="/question/show/{{question.qid}}">{{question.title}}</a>
                            </h4>
                            <p class="question__row_answered">
                                answered {{question.topic_date|date("F j \\a\\t g:i")}} {{question.name}} {{question.reputation}}
                            </p>
                            <div class="question__row_statitics">
                                {{question.vote}} Votes 
                                {{question.answers}} Answers
                            </div>
                        </div>
                    {% else %}
                        No questions found 
                {% endfor %}
            </div>
        {% else %}
            <p>You don't have a permission</p>
        {% endif %}
    </div>
{% endblock %}