{% extends 'base.twig' %}
{% block content %}
    {% for user in user %}
        <section class="content">
            <header>
                <div class="profile-header">
                   <div class="profile-photo Column">
                        <img src="/uploads/avatars/{{user.avatar_url}}" class="userPhoto"/>
                    </div>
                    <div class="Column">
                        <h1 class="profile-username"> {{user.name}} </h1>
                        <span>{{user.groupName}}</span>
                    </div>
                </div>
                <div class="profile-stats">
                    <div>
                        <h4>Posts</h4>
                        {{user.posts}}
                    </div>

                    <div>
                        <h4>Join date</h4>
                        {{user.join_date|date}}
                    </div>
                </div>
            </header>
            <section class="profile-content">

            </section>
        </section>
    {% endfor %}
{% endblock %}
